/* Custom CSS3 for the RAAMC new web site.
 * Mark Addinall
 * January 2014
 *
 *  A CSS3 only slider.  I got sick of seeing Javascript
 *  sliders that comprised of 80,000 lines of absolute
 *  crap so I wrote this one for ALL of myu systems.
 *  It is RESPONSIVE, FLUID and bloody convenient.
 *
 *
 * VERY Lightweight.  Verifies as CSS3 as usual.
 *
*/

@-webkit-keyframes slidey {
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}

@-moz-keyframes slidey {
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}

@-o-keyframes slidey {
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}

@-ms-keyframes slidey {
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}

@keyframes slidey {
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}

div#slider {
    margin: auto;
    width: 90%;
    max-width: 500px;
    overflow: hidden; }

div#slider figure img { width: 20%; }

div#slider figure {

    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    font-size: 0;
    -webkit-animation: 30s slidey infinite; 
    -o-animation: 30s slidey infinite; 
    -moz-animation: 30s slidey infinite; 
    -ms-animation: 30s slidey infinite; 
    animation: 30s slidey infinite; 
    }


